@CHARSET "UTF-8";

body {
  background-color: #E0FFFF;
}

div {
  text-align: center;
}

h1 {
  text-align: center;
}

.box {
  border: 2px solid #1EDDFF;
  width: 20%;
}

.sel {
  width: 100%;
  margin: auto;
}

.mkTeam {
  width: 100%;
  margin: auto;
}

#unSelected {
  text-align: center;
  width: 30%;
  float: left;
}

#Selected {
  width: 30%;
  float: right;
}

.mentorBox {
  text-align: center;
  width: 30%;
  float: left;
}

.menteeBox {
  width: 30%;
  float: right;
}

.person {
  text-decoration: none;
}

.person:link {
  color: black;
}

.person:visited {
  color: black;
}

.name {
  width: 70px;
  border: 1px solid #1EDDFF;
  padding: 2px;
  margin: 5px auto;
  border-radius: 6px;
}

.name:hover {
  padding: 1px;
  border: 2px solid #1EDDFF;
}